body{
    font-family: "Poppins", sans-serif;
    background-color: #F2EDDC;
    overflow-x: hidden;
    
}

main{
    padding-top: 12vh;
}

.promocao{
    height: 30px;
    background-color: red;
}

.banner{
    background-image: url('../img/banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;  
    height: 80vh;
}

.banner__destaque{
    display: grid;
    place-items: center;
}

.produtos__destaque{
    transform: translateY(-80px);
    width: 60vw;
    height: auto;
    background-color: #d8ca9a;
    z-index: 2;
    position: relative;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.titulo__principal{
    color: #053D38;
}
.produtos__destaque-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    text-align: center;
}

.produto__destaque{
    padding: 20px;
}

.produto__destaque-img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.destaque__texto-titulo{
    font-size: 22px;
    margin-top: 10px;
    color: #4b3f19;
    font-weight: 600;
}

.destaque__texto-main a{
    font-weight: 600;
    cursor: pointer;
    color: #5D7369;
    text-decoration: none;
    transition: 1s;
}

.destaque__texto-main a:hover{
    color: #053D38;
}

.btn__principal{
    border: none;
    padding: 10px;
    width: 60%;
    border-radius: 20px;
    background-color: #053D38;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.btn__principal a{
    text-decoration: none;
    color: #d8ca9a;
}

.btn__principal:hover{
    background-color: #5D7369;
}

@media (max-width: 768px) {
    .produtos__destaque-container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .btn__principal{
        width: 80%;
    }

    .produto__destaque{
        padding: 5px;
    }
}